In [740]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [741]:
import pandas as pd
path="/content/drive/MyDrive/dataset/autoMPG.csv"
#df = pd.read_csv('autoMPG.csv')
df = pd.read_csv(path)
df.describe

<bound method NDFrame.describe of       MPG  Cylinders  ...  Origin                    CarName
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]>

In [742]:
df.head()

    MPG  Cylinders  Displacement  ...  Model Year  Origin                    CarName
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

In [743]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           398 non-null    float64
 1   Cylinders     398 non-null    int64
 2   Displacement  398 non-null    float64
 3   Horsepower    392 non-null    float64
 4   Weight        398 non-null    float64
 5   Acceleration  398 non-null    float64
 6   Model Year    398 non-null    int64
 7   Origin        398 non-null    int64
 8   CarName       398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [744]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
df['Model Year']= label_encoder.fit_transform(df['Model Year'])
df['Model Year'].unique()
y=df['Model Year']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           398 non-null    float64
 1   Cylinders     398 non-null    int64
 2   Displacement  398 non-null    float64
 3   Horsepower    392 non-null    float64
 4   Weight        398 non-null    float64
 5   Acceleration  398 non-null    float64
 6   Model Year    398 non-null    int64
 7   Origin        398 non-null    int64
 8   CarName       398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [745]:
label_encoder = preprocessing.LabelEncoder() 
df['CarName']= label_encoder.fit_transform(df['CarName'])
df['CarName'].unique()
y=df['CarName']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           398 non-null    float64
 1   Cylinders     398 non-null    int64
 2   Displacement  398 non-null    float64
 3   Horsepower    392 non-null    float64
 4   Weight        398 non-null    float64
 5   Acceleration  398 non-null    float64
 6   Model Year    398 non-null    int64
 7   Origin        398 non-null    int64
 8   CarName       398 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 28.1 KB

In [746]:
df.isnull().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
CarName         0
dtype: int64

In [747]:
df['Horsepower'].fillna(value=0,inplace=True)
df.head(20)

     MPG  Cylinders  Displacement  ...  Model Year  Origin  CarName
0   18.0          8         307.0  ...           0       1       49
1   15.0          8         350.0  ...           0       1       36
2   18.0          8         318.0  ...           0       1      231
3   16.0          8         304.0  ...           0       1       14
4   17.0          8         302.0  ...           0       1      161
5   15.0          8         429.0  ...           0       1      141
6   14.0          8         454.0  ...           0       1       54
7   14.0          8         440.0  ...           0       1      223
8   14.0          8         455.0  ...           0       1      241
9   15.0          8         390.0  ...           0       1        1
10  15.0          8         383.0  ...           0       1      101
11  14.0          8         340.0  ...           0       1      215
12  15.0          8         400.0  ...           0       1       57
13  14.0          8         455.0  ...           0       1       30
14  24.0          4         113.0  ...           0       3      274
15  22.0          6         198.0  ...           0       1      220
16  18.0          6         199.0  ...           0       1        8
17  21.0          6         200.0  ...           0       1      150
18  27.0          4          97.0  ...           0       3       95
19  26.0          4          97.0  ...           0       2      282

[20 rows x 9 columns]

In [748]:
df.head(15)

     MPG  Cylinders  Displacement  ...  Model Year  Origin  CarName
0   18.0          8         307.0  ...           0       1       49
1   15.0          8         350.0  ...           0       1       36
2   18.0          8         318.0  ...           0       1      231
3   16.0          8         304.0  ...           0       1       14
4   17.0          8         302.0  ...           0       1      161
5   15.0          8         429.0  ...           0       1      141
6   14.0          8         454.0  ...           0       1       54
7   14.0          8         440.0  ...           0       1      223
8   14.0          8         455.0  ...           0       1      241
9   15.0          8         390.0  ...           0       1        1
10  15.0          8         383.0  ...           0       1      101
11  14.0          8         340.0  ...           0       1      215
12  15.0          8         400.0  ...           0       1       57
13  14.0          8         455.0  ...           0       1       30
14  24.0          4         113.0  ...           0       3      274

[15 rows x 9 columns]

In [749]:
X=df.iloc[:,1:]
print(X)
y=df.iloc[:,:1]
print(y)

     Cylinders  Displacement  Horsepower  ...  Model Year  Origin  CarName
0            8         307.0       130.0  ...           0       1       49
1            8         350.0       165.0  ...           0       1       36
2            8         318.0       150.0  ...           0       1      231
3            8         304.0       150.0  ...           0       1       14
4            8         302.0       140.0  ...           0       1      161
..         ...           ...         ...  ...         ...     ...      ...
393          4         140.0        86.0  ...          12       1      153
394          4          97.0        52.0  ...          12       2      301
395          4         135.0        84.0  ...          12       1      119
396          4         120.0        79.0  ...          12       1      159
397          4         119.0        82.0  ...          12       1       69

[398 rows x 8 columns]
      MPG
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [750]:
df=df.drop('CarName',axis=1)
df.columns

Index(['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model Year', 'Origin'],
      dtype='object')

In [751]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=pd.DataFrame(sc.fit_transform(X), columns =['Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model Year', 'Origin', 'CarName'])

In [752]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
#y=ohe.fit_transform(y).toarray()

In [753]:
print(X)
print(y)

     Cylinders  Displacement  Horsepower  ...  Model Year    Origin   CarName
0     1.498191      1.090604    0.673950  ...   -1.627426 -0.715145 -1.113745
1     1.498191      1.503514    1.544187  ...   -1.627426 -0.715145 -1.259185
2     1.498191      1.196232    1.171228  ...   -1.627426 -0.715145  0.922428
3     1.498191      1.061796    1.171228  ...   -1.627426 -0.715145 -1.505316
4     1.498191      1.042591    0.922589  ...   -1.627426 -0.715145  0.139285
..         ...           ...         ...  ...         ...       ...       ...
393  -0.856321     -0.513026   -0.420063  ...    1.621983 -0.715145  0.049783
394  -0.856321     -0.925936   -1.265436  ...    1.621983  0.533222  1.705572
395  -0.856321     -0.561039   -0.469791  ...    1.621983 -0.715145 -0.330601
396  -0.856321     -0.705077   -0.594110  ...    1.621983 -0.715145  0.116909
397  -0.856321     -0.714680   -0.519518  ...    1.621983 -0.715145 -0.889989

[398 rows x 8 columns]
      MPG
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [754]:
# Split dataset into training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=7) # 80% training and 20% test
print(len(X_train),"train +",len(y_test),"test")

318 train + 80 test

In [755]:
#back-propagation
import tensorflow.python.keras
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
model= Sequential()
model.add(Dense  (5,input_dim=8,activation='relu'))
model.add(Dense  (6,activation='relu'))
model.add(Dense  (1,activation='softmax'))

In [756]:
model.compile(loss='mean_squared_error',optimizer='adam')

In [757]:
history=model.fit(X_train,y_train,epochs=50,batch_size=50)

Epoch 1/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1427
Epoch 2/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 3/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1427
Epoch 4/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 5/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 6/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 7/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1427
Epoch 8/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 9/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 10/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 11/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 12/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 13/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 14/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 15/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 16/50
7/7 [==============================] - 0s 5ms/step - loss: 568.1428
Epoch 17/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 18/50
7/7 [==============================] - 0s 4ms/step - loss: 568.1428
Epoch 19/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 20/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 21/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 22/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 23/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 24/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 25/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 26/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 27/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 28/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 29/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 30/50
7/7 [==============================] - 0s 4ms/step - loss: 568.1428
Epoch 31/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 32/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 33/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1427
Epoch 34/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 35/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 36/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 37/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 38/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 39/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 40/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 41/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1427
Epoch 42/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 43/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 44/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 45/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428
Epoch 46/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 47/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1427
Epoch 48/50
7/7 [==============================] - 0s 3ms/step - loss: 568.1428
Epoch 49/50
7/7 [==============================] - 0s 4ms/step - loss: 568.1428
Epoch 50/50
7/7 [==============================] - 0s 2ms/step - loss: 568.1428

In [758]:
y_pred=model.predict(X_test)
print(y_test)
print(X_test)

      MPG
148  26.0
389  22.0
350  34.7
52   30.0
332  29.8
..    ...
74   13.0
145  32.0
243  21.5
50   28.0
240  30.5

[80 rows x 1 columns]
     Cylinders  Displacement  Horsepower  ...  Model Year    Origin   CarName
148  -0.856321     -0.743488   -0.693566  ...   -0.544290  0.533222 -0.297038
389   0.320935      0.370411    0.226399  ...    1.621983 -0.715145 -0.017344
350  -0.856321     -0.849116   -0.991933  ...    1.351199 -0.715145  0.866489
52   -0.856321     -1.012360   -0.668702  ...   -1.356642  0.533222 -0.285850
332  -0.856321     -1.002757   -1.016797  ...    1.080415  0.533222  1.481816
..         ...           ...         ...  ...         ...       ...       ...
74    1.498191      1.042591    0.922589  ...   -1.085858 -0.715145 -0.062095
145  -0.856321     -1.060372   -1.041661  ...   -0.544290  1.781589 -0.677422
243  -1.444949     -1.089180    0.176671  ...    0.268063  1.781589  0.363040
50   -0.856321     -0.743488   -0.320607  ...   -1.356642  0.533222  0.665110
240  -0.856321     -0.925936   -0.618974  ...    0.268063  0.533222  1.515380

[80 rows x 8 columns]

In [760]:
#prediction for error
from sklearn.metrics import mean_squared_error

lin_mse = mean_squared_error(y_test, y_pred)*100

print("Error:",lin_mse)

Error: 56664.71250000001